@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h3 {
        @apply text-darkGrayishBlue mb-8 text-4xl font-bold md:text-5xl;
    }
    h5 {
        @apply text-darkGrayishBlue mb-2 text-2xl font-bold;
    }
}

.section-container {
    @apply mx-auto mb-40 max-w-6xl px-10 text-center;
}

.section-paragraph {
    @apply text-grayishBlue mx-auto max-w-3xl text-xl leading-9;
}

.button-container {
    @apply flex w-full flex-col justify-center space-y-6 text-xl text-white md:flex-row md:space-x-4 md:space-y-0;
}

body {
    background-image: url(../dist/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 576px) {
    body {
        background-image: url(../dist/images/bg-header-mobile.png);
    }
}
