@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1020px) {
    .bg-hero {
        width: 2000px;
        height: 300px;
        left: 30%;
        @apply bg-soft-blue absolute top-52 rounded-l-full;
    }
}
