@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen(lg) {
    .bg-hero {
        width: 2000px;
        height: 300px;
        left: 30%;
        @apply bg-soft-blue absolute top-52 rounded-l-full;
    }
    .bg-tabs {
        width: 2000px;
        height: 300px;
        right: 60%;
        @apply bg-soft-blue absolute top-60 rounded-r-full;
    }
}

.ficon:hover {
    filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
        brightness(101%) contrast(96%);
}

.hamburger-icon .line {
    transition:
        transform 0.3s cubic-bezier(0.4, 2, 0.6, 1),
        opacity 0.2s;
    transform-origin: 20px 20px;
}
.hamburger-icon .top {
    transform: translateY(-8px);
}
.hamburger-icon .bottom {
    transform: translateY(8px);
}
.hamburger-icon.active .top {
    transform: rotate(45deg);
    @apply text-white;
}
.hamburger-icon.active .middle {
    opacity: 0;
}
.hamburger-icon.active .bottom {
    transform: rotate(-45deg);
    @apply text-white;
}
